@import url('https://fonts.googleapis.com/css?family=Chicle|Roboto');

* {
	font-family: 'Roboto', sans-serif;
}

.btn-div {
	text-align: center;
	background-color: peachpuff;
}

.underline {
	text-decoration: underline;
}

.pink {
	color: pink;
}

.circle {
	border: 1px solid purple;
	border-radius: 50%; 
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.bubble {
	font-family: 'Chicle', cursive; 
}

.shadow {
	text-shadow: 1px 1px 4px black;
}

.large {
	font-size: 26px;
}

.small {
	font-size: 6px;
}

.dotted {
	border-style: 1px green dotted;
}